<?xml version='1.0' encoding='utf-8'?>
<plugin id="android-debug-db-cordova-plugin" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>android-debug-db-cordova-plugin</name>
    <js-module name="android-debug-db-cordova-plugin" src="www/android-debug-db-cordova-plugin.js">
        <clobbers target="cordova.plugins.android-debug-db-cordova-plugin" />
    </js-module>
    <platform name="android">
        <framework src="src/android/androidDebugDB.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
